rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // FUNCTIONS //

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUser(userUID) {
      return request.auth.uid == userUID;
    }

    function isInGame(gameCode) {
      return exists(/databases/$(database)/documents/games/$(gameCode)/players/$(request.auth.uid));
    }

    function getGame(gameCode) {
      return get(/databases/$(database)/documents/games/$(gameCode));
    }

    // ROUTES //

    match /{document=**} {
      allow read, write: if false;
    }

    match /games/{gameCode=**} {
      allow read: if isInGame(gameCode);
    }
    
    match /games/{gameCode} {
      allow create: if isAuthenticated();
      allow update, delete: if getGame(gameCode).data.createdBy == request.auth.uid;
      
      match /players/{userUID} {
      	allow write: if isUser(userUID);
      }
    }
  }
}
