rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // FUNCTIONS //

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUser(userUID) {
      return request.auth.uid == userUID;
    }

    function isInLobby(lobbyCode) {
      return exists(/databases/$(database)/documents/lobbies/$(lobbyCode)/playerProfiles/$(request.auth.uid));
    }

    function getLobby(lobbyCode) {
      return get(/databases/$(database)/documents/lobbies/$(lobbyCode));
    }

    // ROUTES //

    match /{document=**} {
      allow read, write: if false;
    }

    match /lobbies/{lobbyCode=**} {
      allow read: if isInLobby(lobbyCode);
    }
    
    match /lobbies/{lobbyCode} {
      allow create: if isAuthenticated();
      allow update, delete: if getLobby(lobbyCode).data.createdBy == request.auth.uid;
      
      match /playerProfiles/{userUID} {
      	allow write: if isUser(userUID);
      }
    }
  }
}
